@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@900&family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

:root {
    /* color */
    --color-primary: #28a08c;
    --color-secondary: #00dc8c;
    --color-tertiary: #154a4a;
    --color-quaternary: #099a65;
    --color-black: #141414;
    --color-grey: #949494;
    --color-grey-white: #c3c3c3;
    --color-white: #ffffff;

    /* font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* font size */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 32px;
    --regular-1: 18px;
    --regular-2: 16px;
    --regular-3: 13px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.navbar{
    padding: 16px 64px;
}

a.nav-link {
    font-size: var(--regular-1);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey);
    margin-right: 32px;
    transition: all 0.3s ease-in-out;
}

.text-hero-bold {
    font-weight: var(--font-weight-extrabold);
    font-size: var(--header-1);
    color: var(--color-primary);
    line-height: 70px;
    transition: all 0.3s ease-in-out;
}

.text-hero-bold:hover {
    color: var(--color-secondary);
}

.text-hero-regular {
    font-weight: var(--font-weight-semibold);
    font-size: var(--regular-1);
    color: var(--color-black);
    line-height: 30px;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: var(--regular-1);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--color-secondary);
}

.btn-secondary {
    background-color: var(--color-grey-white);
    color: var(--color-white);
    border: none;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--color-grey);
}

img {
    transition: all 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}



