body {
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex; 
    align-items: center;
    justify-content: center;   
    background-color: #242b3b;
}

.calculator {
    padding: 24px;
    border-radius: 16px;
    background-color: #1d213d;
    box-shadow: 8px 8px 8px 0 #0000001a, -4px -4px 8px 0 #91d1ef1a;
    width: 350px;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
    padding: 8px;
    background-color: #23284c;
    border-radius: 8px;
    box-shadow: inset 4px 4px 4px 0 #0000001a, inset -4px -4px 4px 0 #91d1ef1a;
}

input {
    height: 60px;
    width: 100;
    font-size: 48px;
    text-align: end;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    pointer-events: none;
}

button {
    font-size: 24px;
    font-weight: bold;
    height: 64px;
    width: 64px;
    border-radius: 8px;
    margin: 10px;
    background-color: #23284c;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0 #0000001a, -4px -4px 4px 0 #91d1ef1a;
}

button:hover {
    background-color: #5162891a;
}

button:active {
    background-color: #5162891a;
    box-shadow: inset 4px 4px 4px 0 #0000001a, inset -4px -4px 4px 0 #91d1ef1a;
}

.operator {
    color: orange;
    text-align: center;
}

.equal {
    color: #1d213d;
    background-color: orange;
    width: 153px;
}

.equal:hover {
    background-color: #ff8c00;
    box-shadow: 4px 4px 4px 0 #0000001a, -4px -4px 4px 0 #91d1ef1a;
}

.equal:active {
    background-color: #ff8c00;
    box-shadow: inset 4px 4px 4px 0 #0000001a, inset -4px -4px 4px 0 #91d1ef1a;
}